<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}Django at Heroku test app{% endblock %}
		</title>
		{% block styles %}
	
		{% endblock %}
	</head>
	<body>
	{% block body %}

		{% block content %}
				This is the body.
		{% endblock %}

		{% block javascript %}
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
		{#<script src="{{ STATIC_URL }}js/init.js"></script>#}
		{% endblock %}

	{% endblock body %}
	</body>
</html>